<!-- Head -->
<%- include("../partials/head.ejs") %>

    <body>
        <!-- Contenedor -->        
        <div class="container-fluid p-0">

            <!-- Inicio Container -->

            <!-- Imagen de Sitio en Mantenimiento -->
            <div class="card bg-dark text-white border-0 rounded-0 m-0 p-0 zi-1000 col-12">
                <img src="/images/maintenance.jpg" class="card-img m-0 p-0" alt="Sitio en Mantenimiento">
                <div class="card-img-overlay">
                    <p class="card-title text-black m-auto bg-light text-center bg-opacity-50 h1">Error</p>
                    <p class="card-title text-black m-auto bg-light text-center bg-opacity-50 h5">Disculpe las molestias</p>
                    <p class="card-text text-center text-black bg-light bg-opacity-25 rounded position-absolute bottom-0 end-0 mx-2 mb-2"><small class="m-2">Photo by <a class="text-black yellowLink text-decoration-none" href="https://unsplash.com/@bullterriere">Simon Hurry</a> on <a class="text-black yellowLink text-decoration-none" href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></small></p>
                </div>
            </div>

            <!-- Fin Container -->
        </div>

        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>

        <!-- JS Bootstrap -->
        <%- include("../partials/jsBoot.ejs") %> 
    </body>
</html>