/* Font 
----------------------------------------------------------------------------------------*/
body {
    font-family: 'Ubuntu', sans-serif;
}


/* Icon
----------------------------------------------------------------------------------------*/
.is-24{
    height: 24px;
    width: 24px;
}


/* Height 
----------------------------------------------------------------------------------------*/
.h-6r{
    height: 6rem;
}

.vh-25{
    height: 25vh;
}

.vh-50{
    height: 50vh;
}

.vh-75{
    height: 75vh;
}


/* Margin
----------------------------------------------------------------------------------------*/
.mt-6{
    margin-top: 6rem;
}