<footer class="grey">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-yellow redLink" href="/legal">Aviso Legal | Políticas de Privacidad | Políticas de Cookies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-yellow redLink" href="/contact">Contactame</a>
        </li>
      </ul>
</footer>