<footer class="grey h-6r d-flex align-items-center justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-yellow redLink" href="/legal">Aviso Legal | Políticas de Privacidad | Políticas de Cookies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-yellow redLink" href="/contact">Contactame</a>
        </li>
    </ul>
</footer>