<nav class="navbar h-6r fixed-top navbar-expand-lg navbar-light white shadow position-fixed" id="navBar">
    <div class="container-fluid">
        <a class="navbar-brand text-black yellowLink mx-3" href="/"><p class="h2">Fernando Fleck</p></a>
        
        <ul class="navbar-nav">
            <li class="nav-item h5 me-2">
                <a class="nav-link text-grey yellowLink" href="/services">Servicios</a>
            </li>
            <li class="nav-item h5 me-2">
                <a class="nav-link text-grey yellowLink" href="/about">Sobre mí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/fernando.fleck/" role="button" aria-pressed="true" title="Instagram"><img src="/icon/instagram.svg" class="is-24" alt="Instagram"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/fernafleck" role="button" aria-pressed="true" title="Twitter"><img src="/icon/twitter.svg" class="is-24" alt="Twitter"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/fernandofleck" role="button" aria-pressed="true" title="GitHub"><img src="/icon/github.svg" class="is-24" alt="GitHub"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:fernafleck@gmail.com" role="button" aria-pressed="true" title="Gmail"><img src="/icon/mail.svg" class="is-24" alt="Gmail"></a>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">
    let prevScrollPos = window.pageYOffset;

    window.onscroll = () => {
        let currentScrollPos = window.pageYOffset;
        if (prevScrollPos > currentScrollPos) {
            document.getElementById("navBar").style.top = "0";
        } else {
            document.getElementById("navBar").style.top = "-6rem";
        }
        prevScrollPos = currentScrollPos;
    }
</script>